html {
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  --color-6: #4f5876;
  --color-7: #2f6788;
  --color-8: #7b7575;
  --color-9: #de8074;
  --color-10: #F0F0F5;
  --color-11: #003B4A;
  --background-color: #F9F9FE;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--color-2);
  background: var(--color-5);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--color-5);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}
.mb-2{
  margin-bottom: 70px;
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-10);
}

.bg-4 {
  background: var(--color-4);
}

.bg-5 {
  background: var(--color-5);
}

.main{
  background: var(--color-10); 
  padding: var(--gap);
  border-radius: var(--gap);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
  grid-template-columns: 240px auto;
}

/* sidenav */

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap);
}

.sidenav li a {
  flex: 1;
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--color-1);
  padding: var(--gap-s) 0;
}

.sidenav li:hover span {
  background: var(--background-color);
}